EXPO_PUBLIC_GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=GOOGLE_WEB_CLIENT_ID

EXPO_PUBLIC_EXPO_USERNAME=ryderhxrzy

EXPO_PUBLIC_EXPO_SLUG=Apsara-Mobile-Application

EXPO_PUBLIC_API_URL=backend.afhome.ph/api
EXPO_PUBLIC_PUSHER_KEY=PUSHER_KEY
EXPO_PUBLIC_PUSHER_APP_CLUSTER=PUSHER_APP_CLUSTER